# You can't get any more secure than uploading your .env to github
export PGPASSWORD=$(gopass show 'fsfe/DB/PGPASS')
export PGUSER=$(gopass show fsfe/DB/PGUSER)
export PGDATABASE=$(gopass show fsfe/DB/PGDATABASE)